<h1>Home</h1> <%= link_to "About", about_path %>
<div class="">
  <img src="https://www.theblogstarter.com/wp-content/uploads/2014/02/4.jpg">
</div>
<p>This is The Home Page for your blog</p>
<textarea rows="8" cols="80"></textarea>
<button type="button" name="button">Submit</button>
